<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVCaptureDevices</key>
	<array>
		<dict>
			<key>mediaType</key>
			<string>vide</string>
			<key>uniqueID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:0</string>
			<key>modelID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:0</string>
			<key>localizedName</key>
			<string>Camera</string>
			<key>exposureModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>UseLegacyExposureSPIs</key>
			<true/>
			<key>whiteBalanceModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>position</key>
			<integer>1</integer>
			<key>AVCaptureSessionPresetCommon</key>
			<dict>
				<key>ExcludedOutputs</key>
				<dict>
					<key>AVCaptureMovieFileOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>vide</string>
						</array>
					</dict>
				</dict>
				<key>PresetName</key>
				<string>v</string>
				<key>VideoCodec</key>
				<string>jpeg</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>400</integer>
						<key>Height</key>
						<integer>304</integer>
						<key>PixelFormatType</key>
						<string>2vuy</string>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>400</integer>
						<key>Height</key>
						<integer>304</integer>
						<key>PixelFormatType</key>
						<string>2vuy</string>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>400</integer>
						<key>Height</key>
						<integer>304</integer>
						<key>PixelFormatType</key>
						<string>2vuy</string>
					</dict>
					<key>MinFrameRate</key>
					<integer>10</integer>
					<key>MaxFrameRate</key>
					<integer>15</integer>
					<key>FullResolutionPreview</key>
					<true/>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetPhoto</key>
			<dict>
				<key>PresetName</key>
				<string>p</string>
				<key>ExcludedOutputs</key>
				<dict>
					<key>AVCaptureVideoDataOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>vide</string>
						</array>
					</dict>
					<key>AVCaptureAudioDataOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>soun</string>
						</array>
					</dict>
					<key>AVCaptureMovieFileOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>vide</string>
							<string>soun</string>
						</array>
					</dict>
				</dict>
				<key>Description</key>
				<string>Photo</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>StillImage</key>
					<dict>
						<key>Width</key>
						<integer>1600</integer>
						<key>Height</key>
						<integer>1200</integer>
						<key>PixelFormatType</key>
						<string>yuvs</string>
					</dict>
					<key>FullResolutionPreview</key>
					<false/>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetHigh</key>
			<dict>
				<key>Description</key>
				<string>High Quality Video</string>
			</dict>
			<key>AVCaptureSessionPresetMedium</key>
			<dict>
				<key>Description</key>
				<string>Medium Quality Video</string>
			</dict>
			<key>AVCaptureSessionPresetLow</key>
			<dict>
				<key>Description</key>
				<string>Low Quality Video</string>
			</dict>
		</dict>
		<dict>
			<key>mediaType</key>
			<string>soun</string>
			<key>uniqueID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_audio:0</string>
			<key>modelID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_audio:0</string>
			<key>localizedName</key>
			<string>iPhone Microphone</string>
			<key>AVCaptureSessionPresetCommon</key>
			<dict>
				<key>PresetName</key>
				<string>a</string>
				<key>Description</key>
				<string>Audio Recording</string>
				<key>AudioCodec</key>
				<string>alac</string>
			</dict>
			<key>AVCaptureSessionPresetPhoto</key>
			<dict/>
			<key>AVCaptureSessionPresetHigh</key>
			<dict/>
			<key>AVCaptureSessionPresetMedium</key>
			<dict/>
			<key>AVCaptureSessionPresetLow</key>
			<dict>
				<key>Description</key>
				<string>Low Quality Audio</string>
				<key>AudioPreset</key>
				<string>Preset_iLBC_8kHz_Mono_15kbit</string>
			</dict>
			<key>AVCaptureSessionPresetVoicemailGreeting</key>
			<dict>
				<key>Description</key>
				<string>Voicemail</string>
				<key>AudioCodec</key>
				<string>samr</string>
				<key>FormatWriterOptions</key>
				<dict>
					<key>FileFormat</key>
					<string>AMRAudioFile</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPreset640x480</key>
			<dict/>
			<key>AVCaptureSessionPreset960x540</key>
			<dict/>
			<key>AVCaptureSessionPreset1280x720</key>
			<dict/>
			<key>AVCaptureSessionPresetConferencing</key>
			<dict>
				<key>AudioPreset</key>
				<string>Preset_AMR_8kHz_Mono_12kbit_CBR</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
